<form class="form-horizontal" id="_id_" method="post" xmlns="http://www.w3.org/1999/html">
	<div class="control-group">
		<div class="controls">
		  	<span class="label label-warning" id="_id__error" style="display:none;"></span>
		</div>
	</div>
	_fields_
	<div class="control-group">
    	<div class="controls">
      		<button onclick="try{save()}catch(e){};return false;" class="btn">Save</button>
			<button onclick="modJs.cancel();return false;" class="btn">Cancel</button>
			<span id="printjob_description" style="display: none;">
				<button onclick="modJs.printJobDescription();return false;" class="btn btn-primary">Print job description</button>
			</span>
		</div>
  	</div>

</form>
<div id="printJobDescription" style="display: none;">

</div>
<script type="text/javascript">
	$(document).ready(function(){
		if($("#field_general_duties").length){
			$("#printjob_description").show();
		}
	});
	function save(){
		modJs.save();
		if($('.error').length == 0){
		location.reload();
		}
	}
</script>
<style type="text/css" media="print">
	.skin-blue  .pace-done{
		display:none;
	}
</style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modaljobtitle"></h4>
			</div>
			<div class="modal-body">
				Job Description : <div id="modaljobdescription"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="modJs.print();">Print</button>
			</div>
		</div>
	</div>
</div>

